@tailwind base;
@tailwind components;
@tailwind utilities;

@property --imageHoverColorStop {
	syntax: "<percentage>";
	inherits: false;
	initial-value: 0%;
}
/* @property --heroTextColorStop {
	syntax: "<percentage>";
	inherits: false;
	initial-value: 4%;
}
@property --heroTextColorOne {
	syntax: "<color>";
	inherits: false;
	initial-value: hsl(0, 0%, 100%, 4%);
}
@property --heroTextColorTwo {
	syntax: "<color>";
	inherits: false;
	initial-value: hsl(0, 0%, 0%, 4%);
} */

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;

	--background: hsl(274, 75%, 3%);
}

::-webkit-scrollbar {
	display: none;
}

/* Main */

/* .heroSection > h1 > span > span {
	--heroTextColorStop: 4%;
	color: transparent;
	-webkit-text-stroke: 1px hsl(0, 0%, 90%, 0.1);
	background-clip: text;
	background-image: linear-gradient(
		var(--heroTextColorOne),
		var(--heroTextColorTwo)
	);
	transition: --heroTextColorOne 0.25, --heroTextColorTwo 0.25;
}
.heroSection > h1 > span > span:hover {
	--heroTextColorOne: hsl(0, 0%, 100%, 50%);
	--heroTextColorTwo: hsl(0, 0%, 0%, 50%);
} */

.heroTwo {
	clip-path: circle(0%);
	animation: circleReveal linear forwards;
	animation-timeline: scroll();
	animation-range: 0 100vh;
}

@keyframes circleReveal {
	to {
		clip-path: circle(100%);
	}
}

.gridBgWrapper {
	--blockSize: calc(25vw);
	--borderWidth: 2px;
	--borderColor: hsl(0, 0%, 100%, 0.1);
	--bgColor: var(--background);

	perspective: 1800px;
	overflow: hidden;

	& * {
		transform-style: preserve-3d;
	}
}

.gridBg {
	position: absolute;
	inset: -200vmax;
	background-attachment: fixed;
	background-color: var(--bgColor);
	background-image: linear-gradient(
			transparent calc(var(--blockSize) - var(--borderWidth)),
			var(--borderColor) calc(var(--blockSize) - var(--borderWidth))
		),
		linear-gradient(
			90deg,
			transparent calc(var(--blockSize) - var(--borderWidth)),
			var(--borderColor) calc(var(--blockSize) - var(--borderWidth))
		);

	background-size: var(--blockSize) var(--blockSize),
		var(--blockSize) var(--blockSize);
	/* background-repeat: round; */
	/* background-position-x: calc(var(--blockSize) * 0.5 * -1); */
	animation: gridBgMove 3s infinite linear;
	transform-origin: center;
	transform: rotateX(60deg);
}
.gridBgFade {
	background-image: linear-gradient(
			0deg,
			var(--background) 5%,
			transparent 25%
		),
		linear-gradient(-60deg, var(--background) 10%, transparent 25%),
		linear-gradient(-30deg, var(--background) 10%, transparent 25%),
		linear-gradient(60deg, var(--background) 10%, transparent 25%),
		linear-gradient(30deg, var(--background) 10%, transparent 25%);
}

.linkIcon {
	background-image: linear-gradient(
			-45deg,
			transparent calc(50% - 1px),
			black calc(50% - 1px) calc(50% + 1px),
			transparent calc(50% + 1px)
		),
		linear-gradient(black 2px, transparent 2px),
		linear-gradient(-90deg, black 2px, transparent 2px);
}

.linkUnderline:hover::before,
.linkIcon:hover + .linkUnderline::before {
	transform: translateX(0%);
}
.projectCard:hover::before {
	opacity: 1;
}
.projectCard > .image > img:last-of-type {
	--imageHoverColorStop: 0%;
	transition: --imageHoverColorStop 0.5s;
	mask-image: linear-gradient(
		-25deg,
		transparent var(--imageHoverColorStop),
		black 0%
	);
}
.projectCard > .image > img:last-of-type:hover {
	--imageHoverColorStop: 100%;
}

.galleryBentoGrid {
	grid-template-areas: none;
}
@media (min-width: 1280px) {
	.galleryBentoGrid {
		grid-template-areas:
			"gallery one"
			"two one"
			"two three"
			"four three"
			"five five"
			"five five"
			"six seven"
			"six bye";
	}
}

@keyframes scrollIconBounce {
	0%,
	45%,
	100% {
		transform: translateY(0);
		animation-timing-function: ease-in;
	}
	30%,
	60% {
		transform: translateY(50%);
		animation-timing-function: ease-out;
	}
}
@keyframes gridBgMove {
	to {
		background-position-y: var(--blockSize), var(--blockSize);
	}
}
