@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wdth,wght@62.5..100,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

/* Main */

.heroTwo {
	clip-path: circle(0%);
	animation: circleReveal linear forwards;
	animation-timeline: scroll();
	animation-range: 0 90vh;
}

@keyframes circleReveal {
	to {
		clip-path: circle(100%);
	}
}

.bgGridWrapperOne {
	--blockSize: 32px;
	--borderWidth: 2px;
	/*light*/
	--borderColor: hsl(0, 0%, 64%);
	--bgColor: hsl(0, 0%, 96%);
	/*light 2*/
	--borderColor: hsl(0, 0%, 4%);
	--bgColor: hsl(230, 94%, 82%);
	/*dark*/
	/*   --bgColor: hsl(229, 84%, 5%);
  --borderColor: hsl(233, 60%, 25%); */
	/*matrix*/
	/*   --bgColor: black;
  --borderColor: hsl(120 100% 20%); */
	background-color: var(--bgColor);
	background-image:
/*     linear-gradient(
      var(--bgColor),
      transparent 35% 65%,
      var(--bgColor)
    ), */ linear-gradient(
			transparent calc(var(--blockSize) - var(--borderWidth)),
			var(--borderColor) calc(var(--blockSize) - var(--borderWidth))
		),
		linear-gradient(
			90deg,
			transparent calc(var(--blockSize) - var(--borderWidth)),
			var(--borderColor) calc(var(--blockSize) - var(--borderWidth))
		);

	background-size:
/*     100% 100%, */ var(--blockSize) var(--blockSize),
		var(--blockSize) var(--blockSize);
	background-repeat: round;
	animation: gridBgMove 2s infinite linear;
}

@keyframes gridBgMove {
	to {
		background-position-y:
/*       0, */ var(--blockSize);
	}
}

.bgGridWrapperTwo.horizontal {
	--direction: to bottom;
	mask-image: linear-gradient(hsl(0 0% 0% / 0.1), hsl(0 0% 0% / 0.1));
}
.bgGridWrapperTwo.vertical {
	--direction: to right;
	--trailHeight: 3;
	--lineOne: 2;
	--lineTwo: 6;
	--lineThree: 10;
	mask-image: linear-gradient(hsl(0 0% 0% / 0.1), hsl(0 0% 0% / 0.1)),
		linear-gradient(hsl(0 0% 0% / 0.1), hsl(0 0% 0% / 1)),
		linear-gradient(hsl(0 0% 0% / 0.1), hsl(0 0% 0% / 1)),
		linear-gradient(hsl(0 0% 0% / 0.1), hsl(0 0% 0% / 1));
	mask-size: 100%,
		var(--borderWidth) calc(var(--blockSize) * var(--trailHeight)),
		var(--borderWidth) calc(var(--blockSize) * var(--trailHeight)),
		var(--borderWidth) calc(var(--blockSize) * var(--trailHeight));
	-webkit-mask-position-x: 0,
		calc((var(--blockSize) * var(--lineOne)) - var(--borderWidth)),
		calc((var(--blockSize) * var(--lineTwo)) - var(--borderWidth)),
		calc((var(--blockSize) * var(--lineThree)) - var(--borderWidth));
	mask-repeat: no-repeat;
	animation: gridMaskMove 12s linear infinite;
}
.bgGridWrapperTwo {
	--blockSize: 32px;
	--borderWidth: 2px;

	width: 100%;
	height: 100%;
	background-image: linear-gradient(
			var(--bgColor),
			transparent 25% 75%,
			var(--bgColor)
		),
		linear-gradient(
			var(--direction),
			transparent calc(var(--blockSize) - var(--borderWidth)),
			var(--borderColor) calc(var(--blockSize) - var(--borderWidth))
		);
	background-size: 100%, var(--blockSize) var(--blockSize);
}

.heroTwo {
	/*light*/
	--borderColor: hsl(0, 0%, 64%);
	--bgColor: hsl(0, 0%, 96%);
	/*dark*/
	--bgColor: hsl(229, 84%, 5%);
	--borderColor: hsl(233, 60%, 40%);
	/*matrix*/
	/*   --bgColor: black;
  --borderColor: hsl(120 100% 20%); */
	background-color: var(--bgColor);
}

@keyframes gridMaskMove {
	from {
		-webkit-mask-position-y: 0,
			calc(var(--trailHeight) * var(--blockSize) * -1);
	}
	50% {
		-webkit-mask-position-y: 0,
			calc(var(--trailHeight) * var(--blockSize) * -1),
			calc(100% + (var(--trailHeight) * var(--blockSize))),
			calc(var(--trailHeight) * var(--blockSize) * -1);
	}
	80% {
		-webkit-mask-position-y: 0,
			calc(80% + (var(--trailHeight) * var(--blockSize))),
			calc(100% + (var(--trailHeight) * var(--blockSize))),
			calc(var(--trailHeight) * var(--blockSize) * -1);
	}
	100% {
		-webkit-mask-position-y: 0,
			calc(100% + (var(--trailHeight) * var(--blockSize))),
			calc(100% + (var(--trailHeight) * var(--blockSize))),
			calc(100% + (var(--trailHeight) * var(--blockSize)));
	}
}
@keyframes gridBgMove {
	to {
		background-position-y: var(--blockSize);
	}
}

/* Text Hover Effect */
.textHoverEffect {
	z-index: 1;
}
.textHoverEffect > div {
	width: 100%;
	text-align: center;
	font-family: "Noto Sans", sans-serif;
	user-select: none;
}
span {
	--add: 0;
	display: inline-block;
	line-height: 100%;
	cursor: crosshair;
	font-weight: calc(300 + 600 * var(--add));
	font-variation-settings: "wdth" calc(62.5 + 37.5 * var(--add));
	text-transform: uppercase;
	font-size: clamp(3.5rem, 12.5vw + 1px, 10rem);
	color: hsl(99deg, 1%, calc(90% + 20% * var(--add)));
	text-shadow: 0 0 max(25px, 1.3020833333vw) hsla(0, 0%, 100%, 0.8);
	transition: font-weight 0.25s, font-variation-settings 0.25s;
}
span:hover {
	--add: 1;
}
span:hover + span,
span:has(+ span:hover) {
	--add: 0.5;
}
span:hover + span + span,
span:has(+ span + span:hover) {
	--add: 0.25;
}
